/*format the button*/
#customer,
#tenant,
#register{
  background: none;
  border: 3px solid;
  color: lightskyblue;
  font-weight: 1000;
  text-transform: uppercase;
  font-size: 30px;
  cursor: pointer;
}

/*format the Clear Data button's collor*/
#tenant {
  color: orange;
}

/*format the Clear Data button's collor*/
#register {
  color:blue ;
}


/*format the button collor*/
#tenant:hover,
#register:hover,
#customer:hover {
  color: red;
}

.center {
  align-content: center;
}